@import "../bootstrap/less/mixins.less";
@import "colors.less";

body {
	margin-top: 60px;
	margin-bottom: 60px;
}

a:focus {
	outline: none;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	height: 20px;
	line-height: 20px;
	padding: 4px 9px;
	border: 1px solid #ddd;
	.transition(border .3s);
	.box-sizing(content-box);
	
	&:focus {
		border: 1px solid #359fe1;
		outline: none;
	}
}

textarea {
	height: 40px;
	line-height: 20px;
	padding: 4px 9px;
	border: 1px solid #ddd;
	.transition(border .3s);
	
	&:focus {
		border: 1px solid #359fe1;
		outline: none;	
	}
}

input[type="submit"],
input[type="reset"],
button, a.button {
	font: 12px/1 "Source Sans Pro";
	padding: 12px 24px;
	display: inline-block;
	background: #333;
	color: #fff;
	border: none;
	margin-top: 18px;
	cursor: pointer;
	.transition(background .4s);
	text-decoration: none;
	
	&:hover {
		background: #555;	
	}
}

a.delete:hover,
input[type="reset"]:hover {
	background: #cd3939;
}


/* ===== Login ===== */

body.login {
	background: #333;
}

#login {
	width: 320px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -110px 0 0 -160px;
	.box-shadow(0 0 10px rgba(0, 0, 0, .3));
	background: #fff;
	padding: 20px 40px;
	
	&.login-failed {
		.box-shadow(0 0 30px rgba(217, 51, 51, .9));
	}
	
	label {
		display: block;
		margin-top: 12px;
	}
	
	input {
		width: 220px;
		margin-top: 10px;
	}
	
	
	input[type="submit"] {
		width: 240px;
		display: block;
		.transition(all .4s);
		
	}
	
	input[type="submit"]:hover {
		background: #ddd;
		color: #333;
	}
	
	h1 {
		margin: 8px 0;
		text-align: center;
	}
}


/* ===== Navbar ===== */

#nav-bar {
	position: fixed;
	width: 100%;
	height: 40px;
	background: #333;
	top: 0;
	z-index: 20;
	
	.inner .right {
		float: right;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			float: left;
			
			a {
				color: #fff;
				line-height: 40px;
				display: block;
				text-decoration: none;
				padding: 0 14px;
				
				&:hover {
					background: #555;
				}
				
				&.title {
					color: #fff;
					line-height: 40px;
					display: block;
					font-size: 20px;
					font-weight: bold;
					padding: 0 14px;
				}
			}
			
			span {
				color: #bbb;
				line-height: 40px;
				display: block;
				padding: 0 14px;
				font-size: 12px;
			}
		}
	}
}

/* ===== Dashboard ===== */

#dashboard {
		
	
	td.title {
		font-weight: bold;
	}
	
	td input {
		width: 100%;
	}
	
	.common {
		margin-top: 50px;
		position: relative;
		
		td {
			width: 120px;
			height: 38px;
		}
		
		.photo {
			background: #222;
			position: absolute;
			right: 0;
			top: 0;
			width: 450px;
			height: 350px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			
			.upload {
				text-align: center;
				top: 115px;
				position: absolute;
				font-size: 30px;
				width: 100%;
				
				a {
					color: #fff;
					text-decoration: none;
					text-shadow: 0 0 5px rgba(0, 0, 0, .5);
				}
			}
		}
	}
	
	.questions {
		margin-top: 50px;
		
		td {
			&.title {
				width: 200px;
			}
			
			textarea {
				width: 100%;
				height: 70px;
				resize: none;
				width: 400px;
			}
		}
	}
	
	.surveys {
		margin-top: 50px;
		
		td {
			width: 200px;
			height: 40px;
			
			&.title {
				width: 300px;
			}
		}
	}
	
	.buttons {
		margin-top: 60px;
	}
}

#photo-upload {
	display: none;
}

/* ===== Usermanagement ===== */

td.edit, th.edit {
	width: 30px;
}

td.edit a {
	color: #000;
	
	&:hover {
		color: #555;
	}
}

#user-management {
	.add-user, .edit-user {
		margin-top: 40px;
		
		td {
			width: 240px;
			height: 38px;	
			
			&.title {
				font-weight: bold;
				width: 120px;
			}
			
			input {
				width: 100%;	
			}
		}	
	}

	.buttons {
		margin-top: 40px;
	}
}

#class-management > div.classes {
	.clearfix();
	
	> div {
		margin: 0 32px 32px 0;
		float: left;
		border-radius: 4px;
		width: 100px;
		height: 100px;
		cursor: pointer;
		.transition(all .2s);
		border-radius: 50%;
		color: #fff;
				
		&:hover {
			padding: 0;
		}
		
		&:nth-child(5n+1) {
			background: @color1;
		}
		
		&:nth-child(5n+2) {
			background: @color2;
		}
		
		&:nth-child(5n+3) {
			background: @color3;
		}
		
		&:nth-child(5n+4) {
			background: @color4;
		}
		
		&:nth-child(5n+5) {
			background: @color5;
		}
		
		> div.info {
			text-align: center;
			padding-top: 32px;
			
			> div.name {
				font-size: 14px;
				font-weight: lighter;
				overflow: hidden;
				text-overflow: ellipsis;
				padding: 0 8px;
			}
			
			> div.teacher {
				font-size: 12px;
				opacity: .8;
			}
		}
	
	}
}

